body {
    margin: 0;
    padding: 0;
    /* Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections */
    background: #333;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
  }

.brand-logo {
    padding-left: 10px !important;
}

/* Style the video: 100% width and height to cover the entire window */
#video{
    margin-bottom: 0;
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
}

.picture-container {
    text-align: center;
}

.pictures div {
    display: inline-block;
    margin: 10px;
}

.pictures div a {
    display: block;
}

.pictures div img {
    border-radius: 10px;
}

#restaurantResults, #countryResults {
    overflow-y: auto;
    height: 100vh;
    padding-top: 15px;
    color: #eceff1;
}

.col .s12::after {
    margin: 0;
}

.row::after {
    margin: 0;
}

#zomato-results > .row {
    margin: 0;
}

.display-none {
    display: none;
}

#countrySearch, #restaurantSearch {
    background:  rgba(107, 106, 106, 0.6);
    color: #eceff1;
}

#countrySearch::placeholder, #restaurantSearch::placeholder {
    color: #eceff1;
}

#resultsArea{
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}

#searchArea {
    margin-top: 150px;
    margin-bottom: 275px;
}

#videoArea {
    height: 100vh;
}

#country-flag {
    width: 100%!important;
    padding: 10px;
}

#card-container {
    background-color: #009688;
    padding: 0;
}

#card-content {
    padding-top: 0!important;
}

#card-content > p {
    font-size: 18px;
}

.name {
    margin-top: 20px;
    margin-bottom: 20px;
}

#countryResults {
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
}

#Submit {
    background-color: #009688;
}

#restaurant-card {
    background-color: #eceff1;
    color: #009688;
}

.lp-img-container {
    width: 275px;
}

#restaurantResults {
    background-color: rgba(233, 233, 233, 0.8);
}

#restaurant-header {
    margin: 0;
    padding-bottom: 10px;
    font-size: 22px;
    text-align: center;
    color: #009688;
    font-weight: 700;
}

.zomato > a, .lp-link-container > a {
    color: #009688!important;
}

.zomato > a:hover, .lp-link-container > a:hover {
    color: #7ee2d8!important;
}

.lp-link-container {
    display: inline-block;
    margin: 0!important;
}

#countryAPI {
    margin: 0;
    width: 100%;
}