/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#searchArea {
    margin-top: 50px;
}

#resultsArea{
    
}

#countryResults {
    color: white;
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}

img {
    height: 400px;
    width: 700px;
}

